.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin: 15px 50px;
    
}

#ativo {
    background-color: gray;
    color: white;
}

#ativo:hover {
    color: #48B508;
}

.logo-pequena{
    border: none;
}

.link-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    padding: 5px 20px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

.ecoponto-menu:hover
{
    color:white;
}



.link-menu:hover{
    background-color: gray;
    color: white;
    transition: 0.15s ease;
}

.imagem{
    background-image: url(../assets/banner.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}



.divisao{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    /* margin: 20px; */
    
}

.texto1 {
    background-color: #94908f33;
    margin: 10px;
    padding: 10px;
    height: 70vh;
    width: 45%;
    font-size: 1.2em;
}

.texto2{
    background-color: #94908f33;
    margin: 10px;
    padding: 10px;
    height: 70vh;
    width: 45%;
    font-size: 1.2em;
}

.baixo{
    background-color: #94908f33;
    margin: 10px 66px;
    padding: 10px;
    height: 30vh;
    width: 91%;
    display: flex;
    font-size: 1.2em;
}

.negrito {
    font-weight: 700;
}