

.imagem{
    background-image: url(../assets/banner.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.frase {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.frase p {
    width: 30%;
}

.divisao{
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.logo-grande {
    height: 300px;
}

.divisao p {
    width: 37%;
    height: 300px;
    background-color: #94908f33 ;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisao a {
    color: black;
    font-weight: 700;
}